html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Computer Modern', serif;
  color: #fbeed7;
}

h1 {
  font-size: 100pt;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -3 !important;
}
